numpy==1.23.5
pandas==1.5.3
scipy==1.10.0
#scikit-learn==1.2.1
pytest
#scikit-multilearn

# data-viz
#seaborn
#matplotlib

# gcs
google-cloud-storage
gcsfs

tensorflow==2.12.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
#torch
#mlflow==2.1.1
python-dotenv
#prefect==2.8.1
psycopg2-binary
#transformers
sentencepiece

# biology
biopython
obonet
networkx
pysam

# aesthetic
progressbar

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server

# tests
httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest
#warnings
